:root{
    --cor-bord-clock: #091921;
    --color-pointer-clock: #ff105e;
}


*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;  
}

.colors{
 justify-content: space-evenly;
 display: flex;
 align-items: center;
 height: 100px;
}

.button{
    width: 2em;
    height: 2em;
    border:none;
    border-radius: 50%;
    border: 0.1em  solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.color-blue-root{
  
    background:var(--cor-bord-clock) ;
}
.color-blue{
    background:#194350 ;
}
.color-rosa-plus{
    background:#ff8882 ;
}
.color-blue-rosa-minus{
    background:#ffc2b4 ;
}
.color-cinza{
    background:#9dbeb9 ;
}

body{
    background:#091921;
}

.body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height:80vh;
      min-width: 100vw;
   
}

.clock{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url(images/clock.png);
    background-size: cover;
    border: 4px  solid --cor-bord-clock;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.03),
                inset 0 -15px 15px rgba(0, 0, 0, 0.04);
}

.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,.clock .min, .clock .sec{
    position: absolute;   
}

.clock .hour, .hr{
    width: 150px;
    height: 150px;
}
.clock .min, .mn{
    width: 220px;
    height: 220px;
}
.clock .sec, .sc{
    width: 260px;
    height: 260px;
}

.hr, .mn, .sc{
    display:flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}


.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--color-pointer-clock);
    border-radius: 6px 6px 0 0;
    z-index: 10;
}

.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 112px;
    background: var(--color-pointer-clock);
    border-radius: 6px 6px 0 0;
    z-index: 11;
}

.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 160px;
    background: #eee6e9;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}